.site-wrapper {
    position: relative;
}

/* hero-section */

section.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

section.hero .hero-content {
    display: flex;
}

section.hero .hero-content .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

section.hero .hero-content .hero-text h1 {
    font-size: 3rem; /* 48px */
    font-weight: 800;
    line-height: 3.5rem; /* 56px */
    font-family: "Raleway", sans-serif;
}

section.hero .hero-content .hero-text p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.375rem; /* 22px */
    font-family: "Barlow", sans-serif;
}

section.hero .hero-content .hero-text a {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.375rem; /* 22px */
    padding: 0.7rem 1.5rem;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

section.hero .hero-content .hero-text a:hover {
    background: #fff;
    color: #333;
}

section.hero .hero-content .hero-img {
    position: absolute;
    z-index: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
}

section.hero .hero-content .hero-img img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    section.hero .hero-content {
        flex-direction: column;
        gap: 2rem;
    }

    section.hero .hero-content .hero-text {
        align-items: center;
        text-align: center;
    }

    section.hero .hero-content .hero-text h1 {
        font-size: 2.25rem; /* 36px */
        line-height: 2.75rem; /* 44px */
    }

    section.hero .hero-content .hero-img {
        position: relative;
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    section.hero .hero-content {
        width: 50%;
    }

    section.hero::before {
        content: "";
        position: absolute;
        width: 50rem;
        height: 50rem;
        background: #e00002;
        z-index: -3;
        top: 10.625rem; /* 170px */
        right: -12.5rem; /* 200px */
        border-radius: 50%;
    }

    section.hero::after {
        content: "";
        position: absolute;
        background: #dfe3e6;
        z-index: -3;
        inset: 0;
    }
}

@media screen and (max-width: 767px) {
    section.hero .hero-content {
        width: 100%;
    }

    section.hero .hero-content .hero-text h1 {
        font-size: 1.75rem; /* 28px */
        line-height: 2.25rem; /* 36px */
    }

    section.hero .hero-content .hero-img {
        width: 100%;
    }
}

/* About section */

section.about {
    padding: 5rem 0;
}

section.about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

section.about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

section.about .about-text h2 {
    font-size: 2.25rem; /* 36px */
    font-weight: 800;
    line-height: 2.75rem; /* 44px */
    font-family: "Raleway", sans-serif;
}

section.about .about-text p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.375rem; /* 22px */
    font-family: "Barlow", sans-serif;
}

section.about .about-text a {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.375rem; /* 22px */
    padding: 0.7rem 1.5rem;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

section.about .about-text a:hover {
    background: #fff;
    color: #333;
}

section.about .about-content .about-cards {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 2rem;
}

section.about .about-content .about-cards .card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 50%;
    padding: 2rem 1rem;
    background: #fff;
    width: 10rem;
    overflow: hidden;
    height: 10rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1); /* 20px */
    transition: all 0.3s ease;
}

section.about .about-content .about-cards .card :is(.card-icon, h3, p) {
    z-index: 3;
}

section.about .about-content .about-cards .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5.5rem; /* 48px */
    background: #e0e0e0;
    transition: all 0.3s ease;
}

section.about .about-content .about-cards .card:hover {
    transform: translateY(-0.625rem); /* 10px */
}

section.about .about-content .about-cards .card .card-icon {
    font-size: 2.5rem; /* 40px */
    color: #e00002;
}

section.about .about-content .about-cards .card h3 {
    font-size: 1rem; /* 16px */
    font-weight: 800;
    line-height: 2rem; /* 32px */
    font-family: "Raleway", sans-serif;
}

section.about .about-content .about-cards .card p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.375rem; /* 22px */
    font-family: "Barlow", sans-serif;
}

section.about .about-content .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about .about-content .about-img img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    section.about .about-content {
        flex-direction: column;
        gap: 2rem;
    }

    section.about .about-content .about-cards {
        width: 100%;
    }
}

/* vision and mission section */

section.vision-mission {
    padding: 5rem 0;
}

section.vision-mission .vision-mission-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

section.vision-mission .vision {
    position: relative;
    height: 20rem;
    padding: 2rem 4rem;
    border-radius: 0.625rem; /* 10px */
    background: #dfe3e6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.vision-mission .vision h2 {
    font-size: 2.25rem; /* 36px */
    font-weight: 800;
    line-height: 2.75rem; /* 44px */
    font-family: "Raleway", sans-serif;
}

section.vision-mission .vision p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    width: 50%;
    line-height: 1.875rem; /* 30px */
    font-family: "Barlow", sans-serif;
}

section.vision-mission .vision .vision-img {
    position: absolute;
    z-index: 0;
    right: 5%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.vision-mission .vision .vision-img img {
    width: 100%;
    height: auto;
}

section.vision-mission .mission {
    position: relative;
    height: 20rem;
    padding: 2rem 4rem;
    border-radius: 0.625rem; /* 10px */
    background: #dfe3e6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
}

section.vision-mission .mission h2 {
    font-size: 2.25rem; /* 36px */
    font-weight: 800;
    line-height: 2.75rem; /* 44px */
    font-family: "Raleway", sans-serif;
}

section.vision-mission .mission p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    width: 50%;
    line-height: 1.375rem; /* 22px */
    font-family: "Barlow", sans-serif;
}

section.vision-mission .mission .mission-img {
    position: absolute;
    z-index: 0;
    left: 5%;
    top: -8rem; /* 128px */
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.vision-mission .mission .mission-img img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    section.vision-mission .vision,
    section.vision-mission .mission {
        height: auto;
        padding: 2rem;
    }

    section.vision-mission .vision p,
    section.vision-mission .mission p {
        width: 100%;
    }

    section.vision-mission .vision .vision-img,
    section.vision-mission .mission .mission-img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
}
