nav{
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0.5rem 15px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.nav-links {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}
.nav-links a {
    color: inherit;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nav-links a:hover {
    opacity: 1;
}
.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.nav-icons {
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 992px){
    .navbar{
        padding: 0.5rem 0;
    }
    .toggler{
        display: none;
    }
    .navbar .aside {
        position: absolute;
        width: 40% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
    }
    .navbar .aside.hidden{
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .navbar .aside .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
    }
    .navbar .aside .nav-links a{
        opacity: 1;
    }
}
@media screen and (min-width: 1200px){
    .navbar{
        padding: 0.5rem 15px;
    }
    
}