nav{
    /* background-color: #f8f9fa; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: absolute;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0.5rem 15px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.navbar .logo {
    width: 3rem;
}
.navbar .logo img {
    width: 100%;
    height: auto;
}
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.nav-links {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}
.nav-links a {
    color: inherit;
    opacity: 0.7;
    cursor: pointer;
    font-family: "Raleway";
    transition: 0.3s ease-in-out;
}
.nav-links a:hover {
    opacity: 1;
    letter-spacing: 1.5px;
}
.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.nav-icons {
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 992px){
    .navbar{
        padding: 0.5rem 0;
    }
    .toggler{
        display: none;
    }
    .navbar .aside {
        position: fixed;
        width: 25% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        right: 0;
        background: #dfe3e6d6;
        backdrop-filter: blur(62px);
        box-shadow: 1px 3px 16px 0px #333;
        height: 100vh;
        z-index: 1000;
        transform: translateX(0%);
        opacity: 1;
    }
    .navbar .aside.hidden{
        opacity: 0;
        pointer-events: none;
        z-index: -10;
        transform: translateX(10%);
        transition: 0.3s ease-in-out;
    }
    .navbar .aside .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
    }
    .navbar .aside .nav-links a{
        opacity: 1;
    }
    .aside a.nav-link.aside-toggler {
        position: absolute;
        top: 5%;
        right: 3%;
        font-size: 2rem;
    }
    .aside-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-top: 5rem;
    }
    .aside-links {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .aside-links ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-direction: column;
    }
    .aside-links a.nav-link {
        font-size: 1.2rem;
        font-family: 'Raleway';
        color:#060606;
    }
}
@media screen and (min-width: 1200px){
    .navbar{
        padding: 0.5rem 15px;
    }
    
}