/* font family Raleway */

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font family Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* HTML5 display-role reset for older browsers */


* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: 0.3s ease-in-out;
}
body{
    position:relative;
    color:#333;
}
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}

/* ===== 02. Global Style ===== */
body {
    overflow-x: hidden;
}

h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 85px;
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 51px;
    font-family: "Raleway", sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    font-family: "Raleway", sans-serif;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: "Raleway", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Raleway", sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Barlow", sans-serif;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 38px 16px 38px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}


aside ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside ul li{
    margin: 15px 0;
}

aside li a{
    color: #fff;
    transition: 500ms;
    padding: 10px 0;
}

aside li a.active{
    color: #ff0000;
}

aside ul li a:hover{
    color: #ff0000;
    transition: 500ms;   
}

aside.pages{
    font-weight: 500;
    color: #fff;
    margin: 11px 0 7px 0;
}

