body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    line-height: 1.6;
}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #eee;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.icon {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.accordion.active, .accordion:hover {
    color: #000;
    font-size: large;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel p{
    color: grey;
}

footer {
    background-color: #f9fafb;
    color: #000;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}

footer h4{
    margin: 0;
}

footer p{
    color: grey;
    margin-top: 0;
    margin-bottom: 25px;
}

footer a {
    border: 1px solid #ff0000;
    padding: 10px 15px;
    border-radius: 5px;
    background: #ff0000;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

footer a:hover {
    background: #fff;
    color: #ff0000;
}

@media screen and (max-width: 600px) {
    .accordion {
        font-size: 12px;
        padding: 5px;
    }
    .icon{
        border: none;
    }
    .panel {
        padding: 0 10px;
    }
    footer {
        padding: 20px;
    }
    footer p{
        font-size: 12px;
    }
}